<p>Здравствуйте, <%= @email %>!</p>

<p>Для работы на сайте anti-pms.ru Вам необходимо подтвердить доступ к данному адресу электронной почты. <br/>
  Если Вы не понимаете о чем идет речь, просто удалите это письмо и не кликайте по ссылке.<br/>
  Если Вы или знакомый Вам человек создавали аккаунт на сайте anti-pms.ru перейдите по ссылке:</p>

<p><%= link_to 'Доступ к почте подтверждаю.', confirmation_url(@resource, confirmation_token: @token) %></p>
