<p>Здравствуйте, <%= @resource.email %>!</p>

<p> В систему был отправлен запрос на восстановление пароля для доступа на сайт anti-pms.ru <br/>
   Вы можете сделать это после перехода по ссылке ниже:</p>

<p><%= link_to 'Изменить пароль.', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если Вы не формировали такого запроса - удалите письмо и не переходите по ссылке.</p>
