<p>Здравстыуйте <%= @resource.email %>!</p>

<p>Ваш аккаунт на сайте anti-pms.ru был заблокирован, <br/>
  т.к. некто пытался войти в него и ввел неверно пароль недопустимое количество раз.
</p>

<p>Нажмите ссылку ниже для разблоктрования Вашего аккаунта.</p>

<p><%= link_to 'Разблокировать аккаунт.', unlock_url(@resource, unlock_token: @token) %></p>
